// {{ .EName.Snake }}
r.GET("/{{ .EName.Snake }}", s.h{{ .EName.Camel }}List)
r.POST("/{{ .EName.Snake }}", s.h{{ .EName.Camel }}Create){{ if or .Ent.IdField .Ent.GetParsSt }}
r.GET("/{{ .EName.Snake }}/{{ if .Ent.IdField }}:{{ .Ent.IdField.JsonName }}{{ else }}one{{ end }}", s.h{{ .EName.Camel }}Get)
r.PUT("/{{ .EName.Snake }}{{ if .Ent.IdField }}/:{{ .Ent.IdField.JsonName }}{{ end }}", s.h{{ .EName.Camel }}Update)
r.DELETE("/{{ .EName.Snake }}{{ if .Ent.IdField }}/:{{ .Ent.IdField.JsonName }}{{ end }}", s.h{{ .EName.Camel }}Delete)
{{- end }}
