package pg

import (
    "context"
    "database/sql"
    "github.com/jackc/pgx/v4"
    "github.com/jackc/pgtype"
    "{{ .Pr.Uri }}/{{ .Pr.EntitiesDirPath.Rel }}"
)

{{ if or .Ent.IdField .Ent.GetParsSt }}
func (d *St) {{ .EName.Camel }}Get(ctx context.Context{{ if .Ent.IdField }}, {{ .Ent.IdField.Name.LCamel }} {{ .Ent.IdField.Type }}{{ end }}{{ if .Ent.GetParsSt }}, pars *entities.{{ .EName.Camel }}GetParsSt{{ end }}) (*entities.{{ .EName.Camel }}St, error) {
    args := make(map[string]interface{})

    qFrom := `{{ .TName }} t`
    qWhere := `1=1`

    {{ if .Ent.IdField -}}
        qWhere = `t.{{ .Ent.IdField.JsonName }} = {{ "${" }}{{ .Ent.IdField.Name.Snake }}{{ "}" }}`
        args["{{ .Ent.IdField.Name.Snake }}"] = {{ .Ent.IdField.Name.LCamel }}
    {{- end }}

    {{ if .Ent.GetParsSt }}
        {{- range $field := .Ent.GetParsSt.Fields }}
            {{- if $field.IsTypePointer }}
                {{- if parsFieldAssocName $.Ent $field }}
                    if pars.{{ $field.Name.Origin }} != nil {
                        qWhere += ` and t.{{ parsFieldAssocName $.Ent $field }} = {{ "${" }}{{ $field.Name.Snake }}{{ "}" }}`
                        args["{{ $field.Name.Snake }}"] = *pars.{{ $field.Name.Origin }}
                    }
                {{- end }}
            {{ else if $field.IsId }}
                qWhere += `t.{{ $.Ent.IdField.JsonName }} = {{ "${" }}{{ $.Ent.IdField.Name.Snake }}{{ "}" }}`
                args["{{ $.Ent.IdField.Name.Snake }}"] = pars.{{ $field.Name.Origin }}
            {{ end }}
        {{- end }}
    {{- end }}

    result := &entities.{{ .EName.Camel }}St{}

    err := d.DbQueryRowM(ctx, `
        select {{ range $i, $field := .Ctx4Get.scanableFields -}}
        {{ if gt $i 0 }}
             , {{ end }}t.{{ $field.JsonName }}
        {{- end }}
        from `+qFrom+`
        where `+qWhere+`
        limit 1
    `, args).Scan(
    {{- range $field := .Ctx4Get.scanableFields }}
        &result.{{ $field.Name.Origin }},
    {{- end }}
    )
    if err != nil {
        if err == pgx.ErrNoRows {
            return nil, nil
        }
        return nil, d.handleError(ctx, err)
    }

    return result, nil
}
{{ end }}

func (d *St) {{ .EName.Camel }}List(ctx context.Context{{ if .Ent.ListParsSt -}}, pars *entities.{{ .EName.Camel }}ListParsSt{{ end }}) ([]*entities.{{ .EName.Camel }}ListSt{{ if .Ctx4List.hasPagination -}}, int64{{ end }}, error) {
    var err error

    qFrom := ` from {{ .TName }} t`
    qWhere := ` where 1=1`
    qOffset := ``
    qLimit := ``

    args := map[string]interface{}{}

    {{ if .Ent.ListParsSt -}}
        // filter
        {{- range $field := .Ctx4List.parsFields }}
            {{- if $field.IsTypePointer }}
                {{- if parsFieldAssocName $.Ent $field }}
                    {{- if fieldSubQueryForIn $field $field.Name.Snake }}
                        if pars.{{ $field.Name.Origin }} != nil {
                            qWhere += ` and t.{{ parsFieldAssocName $.Ent $field }} in {{ fieldSubQueryForIn $field $field.Name.Snake }}`
                            args["{{ $field.Name.Snake }}"] = *pars.{{ $field.Name.Origin }}
                        }
                    {{- else if and $field.IsNullable $field.PVZeroValue }}
                        if pars.{{ $field.Name.Origin }} != nil {
                            if *pars.{{ $field.Name.Origin }} == {{ $field.PVZeroValue }} {
                                qWhere += ` and t.{{ parsFieldAssocName $.Ent $field }} is null`
                            } else {
                                qWhere += ` and t.{{ parsFieldAssocName $.Ent $field }} = {{ "${" }}{{ $field.Name.Snake }}{{ "}" }}`
                                args["{{ $field.Name.Snake }}"] = *pars.{{ $field.Name.Origin }}
                            }
                        }
                    {{- else }}
                        if pars.{{ $field.Name.Origin }} != nil {
                            qWhere += ` and t.{{ parsFieldAssocName $.Ent $field }} = {{ "${" }}{{ $field.Name.Snake }}{{ "}" }}`
                            args["{{ $field.Name.Snake }}"] = *pars.{{ $field.Name.Origin }}
                        }
                    {{- end }}
                {{- end }}
            {{- end }}
        {{- end }}

        {{ if .Ctx4List.hasPagination -}}
            var tCount int64

            if pars.Limit > 0 {{ if .Ctx4List.onlyCountFieldName -}} || pars.{{ .Ctx4List.onlyCountFieldName }}{{- end }} {
                err = d.DbQueryRowM(ctx, `select count(*)`+qFrom+qWhere, args).Scan(&tCount)
                if err != nil {
                    return nil, 0, d.handleError(ctx, err)
                }

                {{ if .Ctx4List.onlyCountFieldName -}}
                    if pars.{{ .Ctx4List.onlyCountFieldName }} {
                        return nil, tCount, nil
                    }
                {{- end }}

                {{ if ne .Ctx4List.onlyCountField nil -}}
                    if pars.{{ .Ctx4List.onlyCountField.Name.Origin }} {
                        return nil, tCount, nil
                    }
                {{- end }}

                qOffset = ` offset ` + strconv.FormatInt(pars.Offset, 10)
                qLimit = ` limit ` + strconv.FormatInt(pars.Limit, 10)
            }
        {{- end }}
    {{- end }}

    qSelect := `
        select {{ range $i, $field := .Ctx4List.scanableFields -}}
        {{ if gt $i 0 }}
             , {{ end }}t.{{ $field.JsonName }}
        {{- end }}
    `

    {{ if len .Ctx4List.fields }}
        qOrderBy := ` order by t.{{ (index .Ctx4List.fields 0).JsonName }}`
    {{- else }}
        qOrderBy := ``
    {{- end }}

    rows, err := d.DbQueryM(ctx, qSelect+qFrom+qWhere+qOrderBy+qOffset+qLimit, args)
    if err != nil {
        return nil{{ if .Ctx4List.hasPagination -}}, 0{{ end }}, d.handleError(ctx, err)
    }
    defer rows.Close()

    recs := make([]*entities.{{ .EName.Camel }}ListSt, 0)

    for rows.Next() {
        rec := &entities.{{ .EName.Camel }}ListSt{}

        err = rows.Scan(
        {{- range $field := .Ctx4List.scanableFields }}
            &rec.{{ $field.Name.Origin }},
        {{- end }}
        )
        if err != nil {
            return nil{{ if .Ctx4List.hasPagination -}}, 0{{ end }}, d.handleError(ctx, err)
        }

        recs = append(recs, rec)
    }
    if err = rows.Err(); err != nil {
        return nil{{ if .Ctx4List.hasPagination -}}, 0{{ end }}, d.handleError(ctx, err)
    }

    return recs{{ if .Ctx4List.hasPagination -}}, tCount{{ end }}, nil
}

{{ if .Ent.IdField }}
func (d *St) {{ .EName.Camel }}{{ .Ent.IdField.Name.Camel }}Exists(ctx context.Context, {{ .Ent.IdField.Name.LCamel }} {{ .Ent.IdField.Type }}) (bool, error) {
	var cnt int

	err := d.DbQueryRow(ctx, `
		select count(*)
		from {{ .TName }}
		where {{ .Ent.IdField.JsonName }} = $1
	`, {{ .Ent.IdField.Name.LCamel }}).Scan(&cnt)
	if err != nil {
		return false, d.handleError(ctx, err)
	}

	return cnt > 0, nil
}
{{ end }}

func (d *St) {{ .EName.Camel }}Create(ctx context.Context, obj *entities.{{ .EName.Camel }}CUSt) {{ if .Ent.IdField }}({{ .Ent.IdField.Type }}, error){{ else }}error{{ end }} {
    args, err := d.{{ .EName.Camel }}GetCUArgs(obj)
	if err != nil {
		return {{ if .Ent.IdField }}{{ .Ent.IdField.ZeroValue }}, {{ end }}err
	}

	var fields string
	var values string

	for k := range args {
		if fields != `` {
			fields += `,`
			values += `,`
		}
		fields += k
		values += `${` + k + `}`
	}

    {{ if .Ent.IdField -}}
    var result {{ .Ent.IdField.Type }}

    err = d.DbQueryRowM(ctx, `
        insert into {{ .TName }}(`+fields+`)
        values (`+values+`)
        returning {{ .Ent.IdField.JsonName }}
    `, args).Scan(&result)
    {{ else -}}
    _, err = d.DbExecM(ctx, `
        insert into {{ .TName }}(`+fields+`)
        values (`+values+`)
    `, args)
    {{ end -}}
	if err != nil {
		return {{ if .Ent.IdField }}{{ .Ent.IdField.ZeroValue }}, {{ end }}d.handleError(ctx, err)
	}

	return {{ if .Ent.IdField }}result, {{ end }}nil
}

{{ if or .Ent.IdField .Ent.GetParsSt }}
func (d *St) {{ .EName.Camel }}Update(ctx context.Context, {{ if .Ent.IdField }}{{ .Ent.IdField.Name.LCamel }} {{ .Ent.IdField.Type }}{{ else }}pars *entities.{{ .EName.Camel }}GetParsSt{{ end }}, obj *entities.{{ .EName.Camel }}CUSt) error {
	args, err := d.{{ .EName.Camel }}GetCUArgs(obj)
	if err != nil {
		return err
	}

	if len(args) > 0 {
		var fields string

		for k := range args {
			if fields != `` {
				fields += `,`
			}
			fields += k + `=${` + k + `}`
		}


        {{ if .Ent.IdField -}}
            qWhere := `{{ .Ent.IdField.JsonName }} = {{ "${cond_" }}{{ .Ent.IdField.Name.Snake }}{{ "}" }}`
            args["cond_{{ .Ent.IdField.Name.Snake }}"] = {{ .Ent.IdField.Name.LCamel }}
        {{ else }}
            qWhere := `1=1`

            {{ range $field := .Ent.GetParsSt.Fields -}}
                {{- if $field.IsTypePointer }}
                    {{- if parsFieldAssocName $.Ent $field }}
                        if pars.{{ $field.Name.Origin }} != nil {
                            qWhere += ` and t.{{ parsFieldAssocName $.Ent $field }} = {{ "${cond_" }}{{ $field.Name.Snake }}{{ "}" }}`
                            args["cond_{{ $field.Name.Snake }}"] = *pars.{{ $field.Name.Origin }}
                        }
                    {{- end }}
                {{ else if $field.IsId }}
                    qWhere += `t.{{ $.Ent.IdField.JsonName }} = {{ "${cond_" }}{{ $.Ent.IdField.Name.Snake }}{{ "}" }}`
                    args["cond_{{ $.Ent.IdField.Name.Snake }}"] = pars.{{ $field.Name.Origin }}
                {{ end }}
            {{- end }}
        {{- end }}

		_, err = d.DbExecM(ctx, `
			update {{ .TName }}
			set `+fields+`
			where `+qWhere+`
		`, args)
		if err != nil {
			return d.handleError(ctx, err)
		}
	}

	return nil
}
{{ end }}

func (d *St) {{ .EName.Camel }}GetCUArgs(obj *entities.{{ .EName.Camel }}CUSt) (map[string]interface{}, error) {
	result := make(map[string]interface{})

    {{- range $field := .Ctx4CuArgs.fields }}
        {{- if $field.IsTypePointer }}

            {{ if and $field.IsNullable $field.PVZeroValue (fieldPgTypeNullValue $field) -}}
                if obj.{{ $field.Name.Origin }} != nil {
                    if *obj.{{ $field.Name.Origin }} == {{ $field.PVZeroValue }} {
                        result["{{ $field.Name.Snake }}"] = {{ fieldPgTypeNullValue $field }}
                    } else {
                        result["{{ $field.Name.Snake }}"] = *obj.{{ $field.Name.Origin }}
                    }
                }
            {{- else }}
                if obj.{{ $field.Name.Origin }} != nil {
                    result["{{ $field.Name.Snake }}"] = *obj.{{ $field.Name.Origin }}
                }
            {{- end }}
        {{- end }}
    {{- end }}

	return result, nil
}

{{ if or .Ent.IdField .Ent.GetParsSt }}
func (d *St) {{ .EName.Camel }}Delete(ctx context.Context, {{ if .Ent.IdField }}{{ .Ent.IdField.Name.LCamel }} {{ .Ent.IdField.Type }}{{ else }}pars *entities.{{ .EName.Camel }}GetParsSt{{ end }}) error {
    {{ if .Ent.IdField -}}
        _, err := d.DbExec(ctx, `delete from {{ .TName }} where {{ .Ent.IdField.JsonName }} = $1`, {{ .Ent.IdField.Name.LCamel }})
        if err != nil {
            return d.handleError(ctx, err)
        }
    {{- else -}}
        args := map[string]interface{}{}
        qWhere := `1=1`

        {{ range $field := .Ent.GetParsSt.Fields -}}
            {{- if $field.IsTypePointer }}
                {{- if parsFieldAssocName $.Ent $field }}
                    if pars.{{ $field.Name.Origin }} != nil {
                    qWhere += ` and t.{{ parsFieldAssocName $.Ent $field }} = {{ "${" }}{{ $field.Name.Snake }}{{ "}" }}`
                    args["{{ $field.Name.Snake }}"] = *pars.{{ $field.Name.Origin }}
                    }
                {{- end }}
            {{ else if $field.IsId }}
                qWhere += `t.{{ $.Ent.IdField.JsonName }} = {{ "${" }}{{ $.Ent.IdField.Name.Snake }}{{ "}" }}`
                args["{{ $.Ent.IdField.Name.Snake }}"] = pars.{{ $field.Name.Origin }}
            {{ end }}
        {{- end }}

        _, err := d.DbExecM(ctx, `delete from {{ .TName }} where `+qWhere, args)
        if err != nil {
            return d.handleError(ctx, err)
        }
    {{- end }}

	return nil
}
{{ end }}
