// {{ .EName.Snake }}
{{ .EName.Camel }}Get(ctx context.Context, id int64) (*entities.{{ .EName.Camel }}St, error)
{{ .EName.Camel }}List(ctx context.Context, pars *entities.{{ .EName.Camel }}ListParsSt) ([]*entities.{{ .EName.Camel }}ListSt{{ if .Ctx4List.hasPagination -}}, int64{{ end }}, error)
{{ .EName.Camel }}IdExists(ctx context.Context, id int64) (bool, error)
{{ .EName.Camel }}Create(ctx context.Context, obj *entities.{{ .EName.Camel }}CUSt) (int64, error)
{{ .EName.Camel }}Update(ctx context.Context, id int64, obj *entities.{{ .EName.Camel }}CUSt) error
{{ .EName.Camel }}Delete(ctx context.Context, id int64) error
