package rest

import (
	"net/http"
	"strconv"

	"github.com/gorilla/mux"
	"{{ .Pr.Uri }}/{{ .Pr.EntitiesDirPath.Rel }}"
)

func (a *St) h{{ .EName.Camel }}List(w http.ResponseWriter, r *http.Request) {
	{{- if .Ent.ListParsSt }}
		{{ if not (len .Ctx4List.parsFields) }}// {{ end }}qPars := r.URL.Query()

		pars := &entities.{{ .EName.Camel }}ListParsSt{
		{{- range $field := .Ctx4List.parsFields }}
			{{- if getListParParser $field }}
				{{ $field.Name.Origin }}: a.{{ getListParParser $field }}(qPars, "{{ $field.Name.Snake }}"),
			{{- end }}
		{{- end }}
		}

		{{- if .Ctx4List.hasPagination }}

			offset, limit, page := a.uExtractPaginationPars(qPars)
			pars.Offset = offset
			pars.Limit = limit

			paginated := pars.Limit > 0

			result, tCount, err := a.ucs.{{ .EName.Camel }}List(a.uGetRequestContext(r), pars)
			if a.uHandleError(err, r, w) {
				return
			}

			if paginated {
				a.uRespondJSON(w, 0, &PaginatedListRepSt{
					Page:       page,
					PageSize:   limit,
					TotalCount: tCount,
					Results:    result,
				})
			} else {
				a.uRespondJSON(w, 0, result)
			}
		{{- else }}

			result, err := a.ucs.{{ .EName.Camel }}List(a.uGetRequestContext(r), pars)
			if a.uHandleError(err, r, w) {
				return
			}

			a.uRespondJSON(w, 0, result)
		{{- end }}
	{{- else }}
		result, err := a.ucs.{{ .EName.Camel }}List(a.uGetRequestContext(r))
		if a.uHandleError(err, r, w) {
			return
		}

		a.uRespondJSON(w, 0, result)
	{{- end }}
}

func (a *St) h{{ .EName.Camel }}Create(w http.ResponseWriter, r *http.Request) {
	reqObj := &entities.{{ .EName.Camel }}CUSt{}
	if !a.uParseRequestJSON(w, r, reqObj) {
		return
	}

	{{ if .Ent.IdField }}result, {{ end }}err := a.ucs.{{ .EName.Camel }}Create(a.uGetRequestContext(r), reqObj)
	if a.uHandleError(err, r, w) {
		return
	}

	{{ if .Ent.IdField -}}
		a.uRespondJSON(w, 0, map[string]{{ .Ent.IdField.Type -}}{"{{ .Ent.IdField.JsonName -}}": result})
	{{- else }}
		w.WriteHeader(200)
	{{- end }}
}

{{ if and .Ent.IdField (or (not .Ent.GetParsSt) .Ctx4Get.idFieldInGetParsSt) }}
func (a *St) h{{ .EName.Camel }}Get(w http.ResponseWriter, r *http.Request) {
	args := mux.Vars(r)
	{{- if .Ent.IdField.IsTypeInt }}
		{{ .Ent.IdField.Name.LCamel }}, _ := strconv.ParseInt(args["{{ .Ent.IdField.JsonName }}"], 10, 64)
	{{- else }}
		{{ .Ent.IdField.Name.LCamel }} := args["{{ .Ent.IdField.JsonName }}"]
	{{- end }}

	result, err := a.ucs.{{ .EName.Camel }}Get(a.uGetRequestContext(r), {{ .Ent.IdField.Name.LCamel }})
	if a.uHandleError(err, r, w) {
		return
	}

	a.uRespondJSON(w, 0, result)
}
{{ end }}

{{ if .Ent.IdField }}
func (a *St) h{{ .EName.Camel }}Update(w http.ResponseWriter, r *http.Request) {
	args := mux.Vars(r)
	{{- if .Ent.IdField.IsTypeInt }}
		{{ .Ent.IdField.Name.LCamel }}, _ := strconv.ParseInt(args["{{ .Ent.IdField.JsonName }}"], 10, 64)
	{{- else }}
		{{ .Ent.IdField.Name.LCamel }} := args["{{ .Ent.IdField.JsonName }}"]
	{{- end }}

	reqObj := &entities.{{ .EName.Camel }}CUSt{}
	if !a.uParseRequestJSON(w, r, reqObj) {
		return
	}

	err := a.ucs.{{ .EName.Camel }}Update(a.uGetRequestContext(r), {{ .Ent.IdField.Name.LCamel }}, reqObj)
	if a.uHandleError(err, r, w) {
		return
	}

	w.WriteHeader(200)
}
{{ end }}

{{ if .Ent.IdField }}
func (a *St) h{{ .EName.Camel }}Delete(w http.ResponseWriter, r *http.Request) {
	args := mux.Vars(r)
	{{- if .Ent.IdField.IsTypeInt }}
		{{ .Ent.IdField.Name.LCamel }}, _ := strconv.ParseInt(args["{{ .Ent.IdField.JsonName }}"], 10, 64)
	{{- else }}
		{{ .Ent.IdField.Name.LCamel }} := args["{{ .Ent.IdField.JsonName }}"]
	{{- end }}

	err := a.ucs.{{ .EName.Camel }}Delete(a.uGetRequestContext(r), {{ .Ent.IdField.Name.LCamel }})
	if a.uHandleError(err, r, w) {
		return
	}

	w.WriteHeader(200)
}
{{ end }}
